/* You can add global styles to this file, and also import other style files */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.dnd-drag-start {
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transform:scale(0.8);
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-enter {
  opacity:0.7;
  border: 2px dashed #000;
}

.dnd-drag-over {
  border: 2px dashed #000;
}

.dnd-sortable-drag {
-moz-transform:scale(0.9);
-webkit-transform:scale(0.9);
transform:scale(0.9);
opacity:0.7;
border: 1px dashed #000;
}