<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/">Scrumify - {{projectService.project.name}}</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <!-- Repetetive use of ngIf could surely be optimized -->
      <a *ngIf="!authService.authenticated" class="nav-item nav-link" routerLink="/signUp">Sign Up</a>
      <a class="nav-item nav-link active" routerLink="/">Dashboard
        <span class="sr-only">Current</span>
      </a>
      <a *ngIf="authService.authenticated" class="nav-item nav-link" routerLink="/backlog">Backlog</a>
      <a *ngIf="authService.authenticated" class="nav-item nav-link" routerLink="/effortEstimation">Effort Estimation</a>
      <a *ngIf="authService.authenticated" class="nav-item nav-link" routerLink="/sprint-planning">Sprint Planning</a>
      <a *ngIf="authService.authenticated" class="nav-item nav-link" routerLink="/scrumboard">Scrumboard</a>
      <a *ngIf="authService.authenticated" class="nav-item nav-link" routerLink="/roadmap">Roadmap</a>
      <a *ngIf="authService.authenticated" class="nav-item nav-link" routerLink="/projects">
        <i class="fa fa-external-link" aria-hidden="true"></i> Project Explorer</a>
      <a *ngIf="authService.authenticated" class="nav-item nav-link" routerLink="/" (click)="authService.signOut()">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    </div>
  </div>
</nav>