<div class="container" id="roadmapContainer">
  <h2>Roadmap</h2>
  <p>
    Here you can see the project roadmap with all its milestones.
  </p>
  <button [class.btn-primary]="!formHidden" class="btn" (click)="toggleForm()">{{formHidden ? 'Add' : 'Save' }} Milestone</button>
  <button [hidden]="formHidden" (click)="formHidden = true" class="btn btn-danger">Close</button>

  <form [hidden]="formHidden">
      <div class="form-group">
          <label for="milestone">Title</label>
          <input type="text" [(ngModel)]="milestone.title" name="title" class="form-control" id="milestone-title" placeholder="Enter a title">
        {{title}}
        </div>
    <div class="form-group">
      <label for="milestone">Description</label>
      <input type="text" [(ngModel)]="milestone.description" name="description" class="form-control" id="milestone-description" placeholder="Enter milestone description">
    {{description}}
    </div>
    <div class="form-group">
      <label for="date-input">Date</label>
      <input class="form-control" type="date" [(ngModel)]="milestone.date" name="date" id="date-input">
      {{date}}
    </div>
  </form>
  <hr>
  <div *ngFor="let m of milestones; let i = index" class="card card-outline-primary w-50">
    <div class="card-block">
        <h4 class="card-title">{{m.title}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{m.date | date}}</h6>
        <p class="card-text">{{m.description}}.</p>
    </div>
  </div>
</div>