<div class="mainContainer">

  <h2>Roadmap</h2>
  <p>
    Here you can see the project roadmap with all its milestones. Only the
    <strong>Product Owner</strong> can add and edit milestones.
  </p>
  
  <!-- Use authService.allowedFor(['RoleX', 'RoleY']) to allow access only for specific roles | Alternative: authService.activeUser.role === X -->
  <button [class.btn-primary]="!formHidden" [disabled]="!authService.allowedFor(['Product Owner'])" class="btn" (click)="toggleForm()">{{formHidden ? 'Add' : 'Save' }} Milestone</button>
  <button [hidden]="formHidden" (click)="formHidden = true" class="btn btn-danger">Close</button>
  <!-- Add Milestone Form -->
  <form [hidden]="formHidden">
    <div class="form-group">
      <label for="milestone">Title</label>
      <input type="text" [(ngModel)]="milestone.title" name="title" class="form-control" id="milestone-title" placeholder="Enter a title">
    </div>
    <div class="form-group">
      <label for="milestone">Description</label>
      <input type="text" [(ngModel)]="milestone.description" name="description" class="form-control" id="milestone-description"
        placeholder="Enter milestone description">
    </div>
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <label for="date-input">Date</label>
          <input class="form-control" type="date" [(ngModel)]="milestone.date" name="date" id="date-input">
        </div>
      </div>
    </div>
  </form>
  <hr>
  <div class="container">
    <ul class="timeline">
      <!--List Entry ngFor here + class inverted every second time-->
        <li *ngFor="let m of milestones; odd as isOdd; index as i;" [class.timeline-inverted] ="isOdd">
          <!-- Timeline badge | Change icon if achieved-->
          <div [ngClass]="{'info': !m.achieved, 'success': m.achieved}" class="timeline-badge"><i [ngClass]="{'fa-flag': !m.achieved,'fa-trophy': m.achieved}" class="fa"></i></div>
          <!-- TODO: add buttons -->
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{m.title}}</h4>
              <p><small class="text-muted"><i class="fa fa-calendar"></i> {{m.date | date}}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{m.description}}.</p>
              <div [hidden]="!authService.allowedFor(['Product Owner'])">

                <!-- Update Button-->
                <i [hidden]="m.achieved" (click)="achieveMilestone(m._id,i)" class="fa fa-check"></i>
                <!-- Delete Button-->
                <i (click)="deleteMilestone(m._id,i)" class="fa fa-times"></i>
    
              </div>
            </div>
          </div>

        </li>
    </ul>
</div>
</div>