<div class="mainContainer">
  <h2>Backlog</h2>
  <p>Here, the
    <strong>Product Owner</strong> can add new Items to the Backlog. Items can be Epics or User Stories, while only a User Story
    can be estimated. To convert from one to another just hit the
    <strong>edit button</strong> of an existing item.</p>
  The order of the items is also the prioritisation and can be changed via
  <strong>drag and drop</strong>.
  <br>
  <br>
  <button *ngIf="authService.allowedFor(['Product Owner'])" class="btn btn-primary" (click)="open(newModal,0)"><i class="fa fa-plus" aria-hidden="true"></i> New Item</button><br><br>
  <div class="card x-mini-card" style="background-color:#ECECEC;border-color:#ECECEC">
    <div class="card-block">
      <div class="row no-gutters">
        <div class="col-1">Type</div>
        <div class="col-3">Title</div>
        <div class="col-3">Description</div>
        <div class="col-1">Estimation</div>
        <div class="col-2">Status</div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
  <div dnd-sortable-container [sortableData]="backlogItems">
    <div *ngFor="let item of backlogItems; let i = index" class="card x-mini-card" dnd-sortable [dragEnabled]="authService.allowedFor(['Product Owner'])"
      [sortableIndex]="i" (onDropSuccess)="updateOrder()">
      <div class="card-block">
        <div class="row no-gutters">
          <div class="col-1">
            <span [ngClass]="{'badge-info': item.status !== 'EPIC', 'badge-warning': item.status === 'EPIC'}" class="badge">{{backlogService.getType(item)}}</span>
          </div>
          <div class="col-3">
            <h5>{{item.title |truncate: 20}}</h5>
          </div>
          <div class="col-3">{{item.description}}</div>
          <div class="col-1"><strong>{{item.estimation|| '?'}}</strong></div>
          <div class="col-2">
            <span class="badge badge-primary">{{backlogService.getReadableStatus(item.status)}}</span>
          </div>
          <div class="col-2">
            <button type="button" class="btn fa fa-pencil-square-o " (click)="open(editModal,i)"></button>
            <button type="button" class="btn fa fa fa-trash-o " (click)="remove(i)"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- MODAL EDIT BEGIN -->
    <ng-template #editModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Edit Backlog Item</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="bli-titel">Title</label>
          <input [(ngModel)]="backlogItems[selectedIndex].title" type="text" class="form-control" id="bli-titel" placeholder="Enter Title"
            name="bli-titel" required>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea [(ngModel)]="backlogItems[selectedIndex].description" type="text" class="form-control" id="description" placeholder="Description"
            name="description" required minlength="10"></textarea>
        </div>
        <!-- User Story start -->
        <div *ngIf="selectedIsUserstory()" class="form-group">
          Status: {{backlogService.getReadableStatus(backlogItems[selectedIndex].status)}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="editItem(selectedIndex)  ">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
      </div>
    </ng-template>
    <!-- MODAL EDIT END -->


    <!-- MODAL NEW BEGIN -->
    <ng-template #newModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">New Backlog Item</h4>
      </div>
      <form ngNativeValidate (ngSubmit)="saveNewItem()" ngNat #f="ngForm">

        <div class="modal-body">
          <!-- Datatoggles not working, design screwed up -->
          <div class="btn-group">
            <label class="btn btn-primary">
              <input type="radio" value="User Story" name="options" id="options1" autocomplete="off" [(ngModel)]="newMode" checked> User Story
            </label>
            <label class="btn btn-primary">
              <input type="radio" value="Epic" name="options" id="options2" autocomplete="off" [(ngModel)]="newMode"> Epic
            </label>
          </div>

          <div class="form-group">
            <label for="bli-titel">Title</label>
            <input [(ngModel)]="newBacklogItem.title" type="text" class="form-control" id="bli-titel" placeholder="Enter Title" name="bli-titel"
              required>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea [(ngModel)]="newBacklogItem.description" type="text" class="form-control" id="description" placeholder="Description"
              name="description" required minlength="10"></textarea>
          </div>
        </div>


        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div>
      </form>
    </ng-template>

</div>